<section class="section-world">
    <div class="wrapper">
        <h2 class="section-world__title headline headline--h2">Установим в любой точке мира</h2>

        <div class="section-world__grid">
            <div class="section-world__left">
                <picture class="section-world__image">
                    <source media="(max-width: 767px)" srcset="/images/world/1-mob.png">
                    <img src="/images/world/1-desc.png" alt="">
                </picture>

                <p class="section-world__left-text">
                    На&nbsp;монтаж вылетают только сотрудники нашей компании. Установка проходит у&nbsp;нашего партнера или на&nbsp;вашей территории. Работы могут проводиться в&nbsp;присутствии ваших сотрудников.
                </p>
            </div>

            <div class="section-world__right">
                <p class="section-world__price">
                    <span class="section-world__price-text">Стоимость монтажа c&nbsp;выездом по&nbsp;России</span>
                    <span class="section-world__price-numbers">50&nbsp;&mdash; 100&nbsp;тыс. руб.</span>
                    <span class="section-world__price-text">в&nbsp;зависимости от&nbsp;удаленности</span>
                    <span class="section-world__price-warranty">Гарантия 3&nbsp;года</span>
                    <a class="section-world__price-button form-button">Обсудить проект</a>
                </p>

                <div class="section-world__right-images">
                    <picture class="section-world__image">
                        <source media="(max-width: 767px)" srcset="/images/world/2-mob.png">
                        <img src="/images/world/2-desc.png" alt="">
                    </picture>

                    <picture class="section-world__image">
                        <source media="(max-width: 767px)" srcset="/images/world/3-mob.png">
                        <img src="/images/world/3-desc.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>