.section-quality {

    &__wrapper {
        @media (--desktop) {
            /*--wrapper-max-width: 1820px;*/
        }
    }

    &__header {

    }

    &__title {

    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;

        @media (--desktop) {
            font-size: 24px;
            line-height: 36px;
            max-width: 911px;
            margin: 0 auto;
            margin-bottom: 94px;
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        @media (--desktop) {
            flex-direction: row;
            column-gap: 246px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;

    }

    &__video {
        position: relative;

        img {
            display: block;
            height: 100%;
            width: 100%;
        }

        &:after {
            @mixin icon-image play;

            border: none;
            background-color: none;

            height: 30px;
            width: 30px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            margin: 0 auto;

            @media (--desktop) {
                height: 58px;
                width: 58px;
            }
        }
    }

    &__left-text {
        color: var(--color-white);
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        opacity: 0.6;

        @media (--desktop) {
            font-size: 16px;
            line-height: 24px;
            max-width: 455px;
        }
    }

    &__right {

    }

    &__right-images {
        display: flex;
        column-gap: 16px;

        @media (--desktop) {
            column-gap: 30px;
        }
    }

    &__image {
        flex-shrink: 0;

        img {
            display: block;
            object-fit: contain;
            width: 100%;
        }

        &:nth-child(1) {

            @media (--desktop) {
                width: 433px;
            }
        }

        &:nth-child(2) {

            @media (--desktop) {
                width: 433px;
            }
        }
    }

    &__right-text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;

        @media (--desktop) {
            max-width: 430px;
        }
    }

    &__right-button {
        width: 100%;

        @media (--desktop) {
            margin-top: 30px;
            max-width: 430px;
        }
    }
}