.section-mbs {
    padding-top: 46px;
    padding-bottom: 56px;

    @media (--desktop) {
        padding-top: 100px;
    }

    &__title {
        margin: 0;
    }

    &__text-image {
        width: 100vw;
        margin-bottom: 1px;

        img {
            display: block;
            width: 100%;
        }

        @media (--desktop) {
            margin-bottom: 40px;
        }
    }
}