.section-hero {
    aspect-ratio: 390/700;
    position: relative;
    color: var(--color-dark);

    &__wrapper {
        display: flex;
        flex-direction: column;

        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        padding-top: var(--body-offset);
        padding-right: 40px;
        padding-bottom: 56px;
    }

    &__title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2%;
    }

    &__text {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        margin-top: auto;
        margin-bottom: 0;
    }

    &__picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        img {
            display: block;
            width: 100%;
        }
    }
}