.section-hero {
    aspect-ratio: 390/700;
    position: relative;
    color: var(--color-dark);

    @media (--tablet) {
        aspect-ratio: 768/420;
    }

    @media (--desktop) {
        aspect-ratio: 1280/697;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        padding-top: var(--body-offset);
        padding-right: 40px;
        padding-bottom: 56px;

        @media (--tablet) {
            padding-top: 50px;
            padding-bottom: 0;
        }

        @media (--desktop) {
        }
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 0;

        @media (--desktop) {
            margin-top: 90px;
        }

        br._desktop {
            display: none;

            @media (--tablet) {
                display: block;

                & + span {
                    padding-left: 0px;
                }
            }

            @media (--desktop) {

                & + span {
                    padding-left: 325px;
                }
            }
        }
    }

    &__text {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        margin-top: auto;
        margin-bottom: 0;

        max-width: 240px;

        @media (--tablet) {
            max-width: 320px;
        }

        @media (--desktop) {
            font-size: 20px;
            line-height: 26px;
            max-width: 495px;
        }
    }

    &__picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}