.section-more {
    padding-top: 20px;

    &__title {
        margin-top: 52px;
        margin-bottom: 14px;

        @media (--desktop) {
            margin-top: 84px;
            margin-bottom: 38px;
        }
    }
    
     &__image {
         
         img {
             display: block;
             max-width: 100%;
         }
     }

    &__left {

        @media (--tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 18px;

            .section-more__image {
                max-width: 274px;
                margin-top: 0px;
            }
        }

        @media (--desktop) {
            column-gap: 30px;

            .section-more__image {
                max-width: 680px;
                margin-top: 26px;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            text-transform: uppercase;
            margin-top: 14px;
            margin-bottom: 19px;

            @media (--tablet) {
                margin-top: -8px;
            }

            @media (--desktop) {
                font-size: 24px;
                line-height: 36px;
                max-width: 600px;
                margin-top: 13px;
            }
        }
    }

    &__right {

        @media (--tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            margin-top: -30px;
        }

        @media (--desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            margin-top: -206px;
        }

        &-text {
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            opacity: 0.6;
            margin-top: 0;
            margin-bottom: 0;

            @media (--tablet) {
                font-size: 14px;
                line-height: 18px;
                margin-top: auto;
                max-width: 184px;
            }

            @media (--desktop) {
                font-size: 20px;
                line-height: 26px;
                margin-top: auto;
                max-width: 360px;
            }
        }

        &-images {
            display: flex;
            column-gap: 16px;
            margin-top: 16px;

            .section-more__image:nth-child(1) {
                margin-top: 76px;

                @media (--desktop) {
                    margin-top: 190px;
                }
            }
        }
    }

    &__footer {

        &-big-text {
            display: block;
            position: relative;
            top: -12px;
            width: 100%;

            @media (--desktop) {
                top: -48px;
            }
        }

        &-small-text {
            @mixin wrapper;

            color: var(--color-gray);
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;

            margin: 0;
            margin-top: -42px;
            position: relative;
            z-index: 2;

            @media (--tablet) {
                font-size: 20px;
                line-height: 30px;
                margin-left: auto;
                margin-top: -52px;
                margin-right: 21px;
                width: 50%;
            }

            @media (--desktop) {
                font-size: 40px;
                margin-left: auto;
                margin-top: -116px;
                margin-right: 30px;
                width: 50%;
            }
        }
    }
}