.section-solution {
    padding-top: 80px;

    @media (--tablet) {
        padding-top: 105px;
    }

    @media (--desktop) {
        padding-top: 122px;
    }

    &__title {
        margin-top: 0px;
        margin-bottom: 18px;

        @media (--tablet) {
            font-size: 32px !important;
            margin-bottom: 0px;
        }

        @media (--desktop) {
            font-size: 68px !important;
            margin-bottom: 18px;
        }
    }

    &__grid {

        @media (--tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            /*padding-left: 254px;*/
            /*padding-right: 254px;*/
        }

        @media (--desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            padding-left: 254px;
            padding-right: 254px;
        }
    }

    &__left {

        &-text {

            @media (--tablet) {
                display: none;
            }
        }
    }

    &__image {
        display: block;
        margin: 0 auto;
        margin-bottom: 0px;
        width: 160px;

        img {
            display: block;
            width: 100%;
        }

        @media (--tablet) {
            margin-top: 19px;
            width: 100%;
        }

        @media (--desktop) {
            margin-top: 19px;
            width: 100%;
        }
    }

    &__right {

        &-text {
            display: none;

            @media (--tablet) {
               display: block;
               margin-top: 53px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 36px;

        @media (--tablet) {
            margin-top: 19px;
        }

        @media (--desktop) {
            margin-top: 53px;
        }
    }

    &__label {

    }

    &__button {

        @media (--desktop) {
            margin-top: 20px;
        }
    }

    &__quote {
        display: block;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2%;

        margin: 0;

        padding-top: 15px;
        padding-bottom: 6px;
        position: relative;

        @media (--tablet) {
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            padding-top: 10px;
        }

        @media (--desktop) {
            font-size: 24px;
            line-height: 30px;
            text-align: left;
            padding-top: 46px;
        }

        &:before {
            @mixin icon quote;

            color: var(--color-brown-light-2);
            height: 32px;
            width: 28px;
            position: absolute;
            top: -34px;

            @media (--desktop) {
                height: 48px;
                width: 45px;
            }
        }
    }

    &__name {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        margin: 0;
        margin-top: 2px;

        @media (--tablet) {
            font-size: 20px;
            line-height: 30px;
            text-align: left;
            margin-top: 2px;
        }

        @media (--desktop) {
            font-size: 24px;
            line-height: 30px;
            text-align: left;
            margin-top: 20px;
        }
    }

    &__position {
        color: var(--color-brown-light-2);
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin: 0;
        margin-top: -4px;

        @media (--tablet) {
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            margin-top: -2px;
        }

        @media (--desktop) {
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            margin-top: 2px;
        }
    }
}