.section-equipment {
    padding-bottom: 80px;

    &__title {
        margin-top: 72px;
        margin-bottom: 22px;
    }

    &__slides {
        display: flex;
        column-gap: 32px;
    }

    &__slide {
        display: none;
        flex-direction: column;
        row-gap: 10px;
        aspect-ratio: 366/385;
        color: var(--color-white);

        padding: 28px 16px;
        width: 100%;

        position: relative;

        &:after {
            @mixin icon arrow-top-right;

            color: var(--color-brown-light);
            height: 24px;
            width: 24px;

            position: absolute;
            top: 44px;
            right: 16px;

            @media (--desktop) {
                height: 32px;
                width: 32px;

                top: 45px;
                right: 32px;
            }
        }

        &:nth-child(1) {
            display: flex;

            @media (--desktop) {
                max-height: 520px;

                .section-equipment__slide-title {
                    font-size: 24px;
                }
            }
        }

        &:nth-child(2) {

            @media (--desktop) {
                flex-shrink: 0;
                /*height: 760px;*/
                width: 895px;
            }
        }

        &:nth-child(3) {

            @media (--desktop) {
                max-height: 520px;

                .section-equipment__slide-title {
                    font-size: 24px;
                }
            }
        }

        @media (--desktop) {
            display: flex;
        }

        &-title {
            font-size: 32px;
            line-height: 1;
            font-weight: 300;
            position: relative;
            z-index: 1;
            margin: 0;

            @media (--desktop) {
                font-size: 40px;
            }
        }

        &-subtitle {
            font-size: 14px;
            line-height: 1;
            font-weight: 300;
            position: relative;
            z-index: 1;
            margin: 0;

            @media (--desktop) {
                font-size: 18px;
            }
        }

        &-picture {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            img {
                display: block;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &-number {
            color: var(--color-dark);
            font-size: 56px;
            line-height: 1;

            position: absolute;
            bottom: -10px;
            left: 16px;

            @media (--desktop) {
                font-size: 90px;
                bottom: -4px;
            }
        }
    }

    &__arrows {
        display: flex;
        justify-content: space-between;

        margin-top: 40px;
    }

    &__arrow {
        color: var(--color-white);

        height: 32px;
        width: 38px;

        &--left {
            @mixin icon arrow-left;
        }

        &--right {
            @mixin icon arrow-right;
        }
    }
}
