.page-footer {
    background-color: var(--color-dark);
    padding-top: 32px;
    padding-bottom: 18px;

    &__logo {
        @media (--desktop) {
            width: 106px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        margin-top: 28px;

        @media (--desktop) {
            row-gap: 24px;
        }

        &-link {
            color: var(--color-white);
            font-size: 16px;
            line-height: 30px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2%;

            @media (--desktop) {
                font-size: 18px;
            }
        }
    }

    &__submenu {
        display: flex;
        flex-direction: column;
        row-gap: 28px;

        margin-top: 28px;
        margin-bottom: 36px;

        @media (--desktop) {
            row-gap: 38px;
            margin-bottom: 0;
        }

        &-link {
            color: var(--color-brown-light-2);
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;

            @media (--desktop) {
                font-size: 16px;
            }
        }
    }

    &__phone {
        display: block;
        color: var(--color-white);
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        letter-spacing: 3%;

        @media (--desktop) {
            font-size: 16px;
            margin-top: 30px;
        }
    }

    &__social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .link-icon {
            color: var(--color-white);
        }

        @media (--desktop) {
            column-gap: 10px;
        }
    }

    &__social-text {
        color: var(--color-gray-3);
        font-size: 14px;
        line-height: 24px;
        font-weight: 200;
        letter-spacing: 3%;
        margin: 0;
        margin-top: 27px;
        margin-bottom: 13px;
    }

    &__copyright {
        color: var(--color-white);
        font-size: 14px;
        line-height: 40px;
        margin-top: 32px;

        @media (--desktop) {
            font-size: 18px;
        }
    }

    &__developer {
        display: block;
        font-size: 13px;
        text-decoration: none;
        color: var(--color-white);
        margin-top: 18px;

        @media (--desktop) {
            margin-right: 30px;
            margin-top: 40px;
        }

        &:after {
            @mixin icon ustrong;

            display: inline-block;

            height: 11px;
            width: 59px;

            position: relative;
            left: 5px;
            top: 0px;

            transition: color .1s ease;

            @media (--tablet) {
                top: 1px;
            }
        }
    }

    &__top {
        @media (--desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-top: 44px;
        }
    }

    &__contacts {
        @media (--desktop) {
            max-width: 199px;
            margin-left: auto;
        }
    }

    &__bottom {
        @media (--desktop) {
            display: flex;
            justify-content: space-between;
        }
    }
}

