<section class="section-advantage">
    <div class="wrapper">
        <p class="section-advantage__top-text">наша философия</p>
        <h2 class="section-advantage__title headline headline--h2">превосходство в деталях</h2>

        <picture class="section-advantage__image">
            <source media="(max-width: 767px)" srcset="/images/advantage/1-mob.png">
            <img src="/images/advantage/1-desc.png" alt="">
        </picture>

        <blockquote class="section-advantage__quote">
            Для нас автомобиль&nbsp;&mdash; это продолжение уровня жизни его владельца. Поэтому в&nbsp;MBS нет случайных решений и&nbsp;компромиссов. Мы&nbsp;создаём пространство, в&nbsp;котором каждая деталь продумана, каждая линия выверена, а&nbsp;комфорт ощущается с&nbsp;первого момента. Это не&nbsp;просто работа. Это ответственность за&nbsp;ваш уровень.
        </blockquote>

        <p class="section-advantage__name">
            Олег и Иван Мартыновы
        </p>

        <p class="section-advantage__position">основатели компании&nbsp;MBS AUTOMOTIVE</p>
    </div>
</section>