<section class="section-brands">
    <div class="wrapper">
        <h2 class="section-brands__title headline headline--h2">Нам доверяют</h2>

        <div class="section-brands__container">
            <ul class="section-brands__grid">
                <li class="section-brands__item">
                    <img src="/images/brands/1.svg" alt="1">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/2.svg" alt="2">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/3.svg" alt="3">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/4.svg" alt="4">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/5.svg" alt="5">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/6.svg" alt="6">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/7.svg" alt="7">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/8.svg" alt="8">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/9.svg" alt="9">
                </li>
                <li class="section-brands__item">
                    <img src="/images/brands/10.svg" alt="10">
                </li>
            </ul>
        </div>
    </div>
</section>