<section class="section-company">
    <div class="wrapper">
        <h2 class="section-company__title">компания MBS</h2>
        <p class="section-company__subtitle">
            Мы&nbsp;любим разработать, находить новые решения и&nbsp;выпускать &laquo;своими руками&raquo; современные технологичные автомобильные сиденья, в&nbsp;которых наши клиенты чувствуют себя максимально комфортно и&nbsp;удобно.
        </p>

        <div class="section-company__grid">
            <div class="section-company__left">
                <picture class="section-company__image">
                    <source media="(max-width: 767px)" srcset="/images/company/1-mob.png">
                    <img src="/images/company/1-desc.png" alt="">
                </picture>
            </div>

            <div class="section-company__right">
                <p class="section-company__text">
                    Мы&nbsp;верим, что благодаря нашему подходу и&nbsp;постоянной связи с&nbsp;нашими клиентами, молодая российская компания может выпускать продукты и&nbsp;услуги, не&nbsp;уступаю западным аналогам. Именно поэтому с&nbsp;самого начала мы&nbsp;всегда ставили во&nbsp;главу угла комфорт наших клиентов.
                    Наши клиенты&nbsp;&mdash; это наши самые главные партнеры и&nbsp;друзья компании. Мы&nbsp;придаем особую важность выполнению взятых на&nbsp;себя обязательств перед Вами, поэтому действуем исходя из&nbsp;долгосрочной перспективы, а&nbsp;не&nbsp;из&nbsp;краткосрочных финансовых результатов. Мы&nbsp;уверены, что репутация дороже денег.
                </p>
                <a href="#" class="section-company__anchor">узнать больше</a>
                <div class="section-company__image-row">
                    <picture class="section-company__image">
                        <source media="(max-width: 767px)" srcset="/images/company/2-mob.png">
                        <img src="/images/company/2-desc.png" alt="">
                    </picture>

                    <picture class="section-company__image">
                        <source media="(max-width: 767px)" srcset="/images/company/3-mob.png">
                        <img src="/images/company/3-desc.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>