<section class="section-equipment">
    <div class="wrapper">
        <h2 class="section-equipment__title headline headline--h2">Комплектации для любых задач: выбирайте и&nbsp;стилизуйте под себя</h2>

        <div class="section-equipment__slides">
            <div class="section-equipment__slide">
                <h3 class="section-equipment__slide-title">Комфорт</h3>
                <p class="section-equipment__slide-subtitle">для повседневных поездок</p>
                <picture class="section-equipment__slide-picture">
                    <source media="(max-width: 767px)" srcset="/images/equipment/1-desc.png">
                    <img src="/images/equipment/1-desc.png" alt="">
                </picture>
                <span class="section-equipment__slide-number">01</span>
            </div>

            <div class="section-equipment__slide">
                <h3 class="section-equipment__slide-title">Бизнес</h3>
                <p class="section-equipment__slide-subtitle">все нужное для дела и ничего лишнего</p>
                <picture class="section-equipment__slide-picture">
                    <source media="(max-width: 767px)" srcset="/images/equipment/2-desc.png">
                    <img src="/images/equipment/2-desc.png" alt="">
                </picture>
                <span class="section-equipment__slide-number">02</span>
            </div>

            <div class="section-equipment__slide">
                <h3 class="section-equipment__slide-title">Первый класс</h3>
                <picture class="section-equipment__slide-picture">
                    <source media="(max-width: 767px)" srcset="/images/equipment/3-desc.png">
                    <img src="/images/equipment/3-desc.png" alt="">
                </picture>
                <span class="section-equipment__slide-number">03</span>
            </div>
        </div>

        <div class="section-equipment__arrows">
            <button class="section-equipment__arrow section-equipment__arrow--left" type="button"></button>
            <button class="section-equipment__arrow section-equipment__arrow--right" type="button"></button>
        </div>
    </div>
</section>