<footer class="page-footer">
  <div class="page-footer__wrapper wrapper">
    <div class="page-footer__top">
      <img class="page-footer__logo" src="/images/logo.svg" alt="Логотип MBS" />

      <div class="page-footer__menu">
        <a class="page-footer__menu-link" href="#">Комплектации</a>
        <a class="page-footer__menu-link" href="#">Наши работы</a>
        <a class="page-footer__menu-link" href="#">О нас</a>
        <a class="page-footer__menu-link" href="#">Контакты</a>
      </div>

      <div class="page-footer__submenu">
        <a class="page-footer__submenu-link" href="#">Публичная оферта</a>
        <a class="page-footer__submenu-link" href="#">Политика конфиденциальности</a>
        <a class="page-footer__submenu-link" href="#">Политика обработки персональных данныx</a>
        <a class="page-footer__submenu-link" href="#">Карта сайта</a>
      </div>

      <div class="page-footer__contacts">
        <a href="tel:88007000794" class="page-footer__phone">8 (800) 700-07-94</a>

        <div class="page-footer__social">
          <p class="page-footer__text">мы в соцсетях:</p>

          <div class="page-footer__social-links">
            <a href="?vk" class="link-icon link-icon--vk">vk</a>
            <a href="tg://resolve?domain=" class="link-icon link-icon--tg">telegram</a>
            <a href="?youtube" class="link-icon link-icon--yt">youtube</a>
            <a href="?dzen" class="link-icon link-icon--dzen">я.дзен</a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-footer__bottom">
      <div class="page-footer__copyright">
        © 2007–2026 MBS Automotive
      </div>
      <a class="page-footer__developer" target="_blank" href="https://ustrong.ru">Разработано в</a>
    </div>
  </div>
</footer>
