<header style="position: fixed;" id="header" class="page-header">
  <div class="page-header__wrapper wrapper">
    <a href="https://devandreev.github.io/mbs" class="page-header__logo animated-block js-animated">
      <img src="/images/logo.svg" alt="Логотип MBS" />
    </a>

    <nav class="page-header__menu">
      <ul class="page-header__menu-list">
        <li class="page-header__menu-item" role="presentation">
          <a class="page-header__link" href="#">Комплектации</a>
        </li>

        <li class="page-header__menu-item" role="presentation">
          <a class="page-header__link" href="#">Наши работы</a>
        </li>

        <li class="page-header__menu-item" role="presentation">
          <a class="page-header__link" href="#">О нас</a>
        </li>

        <li class="page-header__menu-item" role="presentation">
          <a class="page-header__link" href="#">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="page-header__right animated-block js-animated">
      <div class="page-header__buttons">
        <a href="tel:88007000794" class="page-header__phone">8 (800) 700-07-94</a>

        <button type="button" class="page-header__button form-button">Обсудить проект</button>

<!--        <c-burger-button id="burger-button" class="page-header__burger-button"></c-burger-button>-->
      </div>
    </div>

<!--    <div class="page-header__social-links social-links">-->
<!--      <a href="?vk" class="link-icon link-icon&#45;&#45;vk">vk</a>-->
<!--      <a href="tg://resolve?domain=" class="link-icon link-icon&#45;&#45;tg">telegram</a>-->
<!--      <a href="?youtube" class="link-icon link-icon&#45;&#45;yt">youtube</a>-->
<!--      <a href="?dzen" class="link-icon link-icon&#45;&#45;dzen">я.дзен</a>-->
<!--    </div>-->


  </div>
</header>
