<section class="section-hero">
    <picture class="section-hero__picture">
        <source media="(max-width: 767px)" srcset="/images/hero/banner-mobile.png">
        <img src="/images/hero/banner-desktop.png" alt="">
    </picture>

    <div class="section-hero__wrapper wrapper">
        <h1 class="section-hero__title">Ваш Mercedes. Ваш офис. Ваш формат успеха</h1>

        <p class="section-hero__text">
            Мы предлагаем максимальную продуктивность в пути, комфорт, конфиденциальность, представительский статус, премиальный уровень привычного офиса вне стен компании.
        </p>

    </div>
</section>