<section class="section-more">
    <div class="wrapper">
        <h2 class="section-more__title headline headline--h2"></h2>

        <div class="section-more__grid">

            <div class="section-more__left">
                <picture class="section-more__image">
                    <source media="(max-width: 767px)" srcset="/images/more/1-mob.png">
                    <img src="/images/more/1-desc.png" alt="">
                </picture>

                <p class="section-more__left-text">
                    С&nbsp;2008 года мы&nbsp;создаем салоны вручную, сочетая технологичность и&nbsp;мастерство. Только качественные материалы, строгий контроль и&nbsp;индивидуальный подход.
                </p>
            </div>

            <div class="section-more__right">
                <p class="section-more__right-text">
                    MBS&nbsp;&mdash; это премиальное переоборудование Mercedes-Benz V-Class. Мы&nbsp;превращаем автомобиль в&nbsp;персональный кабинет, лаунж или приватную зону отдыха&nbsp;&mdash; с&nbsp;безупречной тишиной, продуманной эргономикой и&nbsp;вниманием к&nbsp;деталям.
                </p>

                <picture class="section-more__image">
                    <source media="(max-width: 767px)" srcset="/images/more/2-mob.png">
                    <img src="/images/more/2-desc.png" alt="">
                </picture>

                <picture class="section-more__image">
                    <source media="(max-width: 767px)" srcset="/images/more/3-mob.png">
                    <img src="/images/more/3-desc.png" alt="">
                </picture>
            </div>
        </div>

        <div class="section-more__footer">
            <p class="section-more__footer-big-text">
                комфорт
            </p>
            <p class="section-more__footer-small-text">
                доведенный до совершенства
            </p>
        </div>
    </div>
</section>