<c-popup
    id="mobile-menu"
    offset-header
>
    <div class="mobile-menu">
        <nav class="mobile-menu__menu">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item" role="presentation">
                    <a href="#" class="mobile-menu__link" >
                        Комплектации
                    </a>
                </li>
                <li class="mobile-menu__item" role="presentation">
                    <a href="#" class="mobile-menu__link" >
                        Наши работы
                    </a>
                </li>
                <li class="mobile-menu__item" role="presentation">
                    <a href="#" class="mobile-menu__link" >
                        О нас
                    </a>
                </li>
                <li class="mobile-menu__item" role="presentation">
                    <a href="#" class="mobile-menu__link" >
                        Контакты
                    </a>
                </li>
            </ul>
            <ul class="mobile-menu__sublist">
                <li class="mobile-menu__subitem" role="presentation">
                    <a href="#" class="mobile-menu__sublink" >
                        Публичная оферта
                    </a>
                </li>
                <li class="mobile-menu__subitem" role="presentation">
                    <a href="#" class="mobile-menu__sublink" >
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="mobile-menu__subitem" role="presentation">
                    <a href="#" class="mobile-menu__sublink" >
                        Политика обработки персональных данных
                    </a>
                </li>
                <li class="mobile-menu__subitem" role="presentation">
                    <a href="#" class="mobile-menu__sublink" >
                        Карта сайта
                    </a>
                </li>
            </ul>
        </nav>
        <footer class="mobile-menu__footer">
            <div class="mobile-menu__contacts">
                <a class="mobile-menu__telnum" href="tel:74957270085">+7 (495) 727-00-85</a>
                <a class="mobile-menu__email" href="mailto:info@mbs-russia.com">info@mbs-russia.com</a>
            </div>

            <a class="mobile-menu__button form-button js-form-solution-button" href="#form-solution">Обсудить проект</a>

            <div class="mobile-menu__social">
                <p class="mobile-menu__social-text">мы в соцсетях:</p>

                <div class="mobile-menu__social-links">
                    <a href="?vk" class="link-icon link-icon--whatsapp">whatsapp</a>
                    <a href="tg://resolve?domain=" class="link-icon link-icon--tg">telegram</a>
                    <a href="?dzen" class="link-icon link-icon--max">max</a>
                    <a href="?youtube" class="link-icon link-icon--yt">youtube</a>
                    <a href="?rutube" class="link-icon link-icon--rt">rutube</a>
                </div>
            </div>
        </footer>
    </div>
</c-popup>
