<section class="section-quality">
    <div class="section-quality__wrapper wrapper">
        <header class="section-quality__header">
            <h2 class="section-quality__title headline headline--h2">
                Мировое качество <br/>и уникальный подход к&nbsp;V‑Class
            </h2>

            <p class="section-quality__text">
                Мы&nbsp;знаем, что для вас важно выбирать компанию с&nbsp;мировым именем. Сегодня MBS единственная в&nbsp;России компания на&nbsp;мировом рынке мобильных кабинетов. Нам доверяют свои автомобили клиенты из&nbsp;36&nbsp;стран, а&nbsp;именно ОАЭ и&nbsp;Катар, Нигерия и&nbsp;Гана, Вьетнам и&nbsp;Тайланд, и&nbsp;многие другие.
            </p>
        </header>

        <div class="section-quality__grid">
            <div class="section-quality__left">
                <picture class="section-quality__video">
                    <source media="(max-width: 767px)" srcset="/images/quality/preview.png">
                    <img src="/images/quality/preview.png" alt="">
                </picture>

                <p class="section-quality__left-text">
                    Мы&nbsp;знаем, что часто для Вас ожидание равно промедлению, поэтому у&nbsp;нас всегда есть готовые автомобили под ваши задачи в&nbsp;оригинальной отделке Mercedes.
                </p>
            </div>

            <div class="section-quality__right">
                <div class="section-quality__right-images">
                    <picture class="section-quality__image">
                        <source media="(max-width: 767px)" srcset="/images/quality/1-mob.png">
                        <img src="/images/quality/1-desc.png" alt="">
                    </picture>

                    <picture class="section-quality__image">
                        <source media="(max-width: 767px)" srcset="/images/quality/2-mob.png">
                        <img src="/images/quality/2-desc.png" alt="">
                    </picture>
                </div>

                <p class="section-quality__right-text">
                    Мы&nbsp;знаем, как важны для Вас индивидуальный подход и&nbsp;надежность собственного производства. Поэтому вариантов кожи и&nbsp;декоративной отделки практически бесконечно много. А&nbsp;если вы&nbsp;ошиблись с&nbsp;выбором каких-то функций&nbsp;&mdash; мы&nbsp;поможем заменить их&nbsp;на&nbsp;действительно нужные даже в&nbsp;процессе эксплуатации.
                </p>

                <button class="section-quality__right-button form-button">
                    Обсудить проект
                </button>
            </div>
        </div>
    </div>
</section>