<section class="section-quality">
    <div class="wrapper">
        <header class="section-quality__header">
            <h2 class="section-quality__title">
                Мировое качество <br/>и уникальный подход к V-Class
            </h2>

            <p class="section-quality__subtitle">
                Мы знаем, что для вас важно выбирать компанию с мировым именем. Сегодня MBS единственная в России компания на мировом рынке мобильных кабинетов. Нам доверяют свои автомобили клиенты из 36 стран, а именно ОАЭ и Катар, Нигерия и Гана, Вьетнам и Тайланд, и многие другие.
            </p>
        </header>
    </div>
</section>