<section class="section-review">
   <div class="section-review__wrapper wrapper">
       <h2 class="section-review__title headline headline--h2">
           Подробный обзор VIP-офиса от MBS
       </h2>

       <picture class="section-review__preview">
           <source media="(max-width: 767px)" srcset="/images/video/preview-desc.png">
           <img src="/images/video/preview-desc.png" alt="">
       </picture>

       <button class="section-review__button" type="button"></button>
   </div>
</section>