<section class="section-solution">
    <div class="wrapper">
        <h2 class="section-solution__title headline headline--h2">Я предложу идеальное решение</h2>

        <div class="section-solution__grid">
            <div class="section-solution__left">
                <picture class="section-solution__image">
                    <source media="(max-width: 767px)" srcset="/images/solution/photo-mob.png">
                    <img src="/images/solution/photo-desc.png" alt="">
                </picture>

                <blockquote class="section-solution__quote">
                    Ваш V-Class может стать больше, чем автомобилем: личным VIP-офисом, вторым домом и&nbsp;продолжением вашего статуса.
                </blockquote>

                <p class="section-solution__name">
                    Иван Мартынов
                </p>

                <p class="section-solution__position">основатель компании&nbsp;MBS AUTOMOTIVE</p>
            </div>

            <div class="section-solution__right">
                <form class="section-solution__form">
                    <label class="section-solution__label form-label form-label--required">
                        <input class="solution-form__name form-input" type="text" placeholder="Ваше имя" />
                    </label>

                    <label class="section-solution__label form-label form-label--required">
                        <input class="solution-form__phone form-input" type="tel" placeholder="Телефон" />
                    </label>

                    <label class="section-solution__label form-label form-label--required">
                        <input class="solution-form__phone form-input" type="text" placeholder="Город" />
                    </label>

                    <label class="section-solution__label form-label form-label--required">
                        <input class="solution-form__phone form-input" type="text" placeholder="Мессенджер" />
                    </label>

                    <label class="section-solution__label form-label">
                        <input class="solution-form__email form-input" type="email" placeholder="Электронная почта" />
                    </label>

                    <textarea
                        class="section-solution__textarea form-textarea"
                        name="text"
                        placeholder="Ваше сообщение"
                    ></textarea>

                    <label class="solution-form__checkbox form-checkbox">
                        <input
                            class="form-checkbox__input"
                            type="checkbox"
                            checked
                            required
                            name="agreement"
                        />

                        <span class="form-checkbox__content">
                            <span class="form-checkbox__link"><a href="/policy" class="js-policy link">персональных данных</a></span>
                            <span class="form-checkbox__text">Нажимая на кнопку, вы даете согласие на&nbsp;обработку&nbsp;</span>
                        </span>
                    </label>

                    <button class="solution-form__button form-button">Обсудить комплектацию VIP-офиса</button>
                </form>
            </div>
        </div>
    </div>
</section>