<section class="section-stories">
    <div class="wrapper">
        <p class="section-stories__top-text">почувствуй</p>
        <div class="section-stories__grid">
            <div class="section-stories__item">
                <picture class="section-stories__preview">
                    <source media="(max-width: 767px)" srcset="/images/stories/1-mob.png">
                    <img src="/images/stories/1-desc.png" alt="">
                </picture>
            </div>
            <div class="section-stories__item">
                <picture class="section-stories__preview">
                    <source media="(max-width: 767px)" srcset="/images/stories/2-mob.png">
                    <img src="/images/stories/2-desc.png" alt="">
                </picture>
            </div>
            <div class="section-stories__item">
                <picture class="section-stories__preview">
                    <source media="(max-width: 767px)" srcset="/images/stories/3-mob.png">
                    <img src="/images/stories/3-desc.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>