<section class="section-stories">
    <img class="section-stories__top-text" src="/images/stories/feel.svg" alt="почувствуй"/>

    <div class="section-stories__grid">
        <div class="section-stories__item">
            <picture class="section-stories__preview">
                <source media="(max-width: 767px)" srcset="/images/stories/1-desc.png">
                <img src="/images/stories/1-desc.png" alt="">
            </picture>
        </div>
        <div class="section-stories__item">
            <picture class="section-stories__preview">
                <source media="(max-width: 767px)" srcset="/images/stories/2-desc.png">
                <img src="/images/stories/2-desc.png" alt="">
            </picture>
        </div>
        <div class="section-stories__item">
            <picture class="section-stories__preview">
                <source media="(max-width: 767px)" srcset="/images/stories/3-desc.png">
                <img src="/images/stories/3-desc.png" alt="">
            </picture>
        </div>
        <div class="section-stories__item">
            <picture class="section-stories__preview">
                <source media="(max-width: 767px)" srcset="/images/stories/4-desc.png">
                <img src="/images/stories/4-desc.png" alt="">
            </picture>
        </div>
        <div class="section-stories__item">
            <picture class="section-stories__preview">
                <source media="(max-width: 767px)" srcset="/images/stories/5-desc.png">
                <img src="/images/stories/5-desc.png" alt="">
            </picture>
        </div>
    </div>
</section>