.form {

  &-input,
  &-textarea {
    --border-color: var(--color-gray-2);

    display: block;
    background: var(--color-dark);
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--color-dark);
    font-size: 14px;
    line-height: 30px;
    outline: none;

    padding: 9px 28px 9px 16px;

    max-width: none;
    width: 100%;

    transition: box-shadow .2s ease;

    @media (--tablet) {
      font-size: 14px;

      padding: 16px 28px 16px 21px;
    }

    &:hover {
      --border-color: var(--color-green-5);
    }

    &:focus {
      --border-color: var(--color-green-2);
    }
  }

  &-input {

    /* TODO: переписать правило */
    c-search:focus-within & {
      box-shadow: 0 0 0 1px var(--color-green-2);

      &:not(:placeholder-shown):invalid {
        box-shadow: 0 0 0 1px var(--color-tomato);
      }
    }
  }

  &-textarea {
    height: 63px;
    resize: none;
    padding-top: 5px;

    @media (--tablet) {
      height: 108px;
    }
  }

  &-label {

    &--required {
      position: relative;

      &:after {
        content: '*';
        color: var(--color-white);
        position: absolute;
        right: 9px;
        top: 17px;
      }
    }
  }
}
