.form-checkbox {
  @mixin checkbox form-checkbox;

  --color-accent: var(--color-gray-4);
  --color-base: var(--color-gray-5);
  --color-base-hover: var(--color-brown-light);
  --color-base-focus: var(--color-brown-light-2);
  --color-secondary: var(--color-gray-4);

  --check-size: 16px;

  color: var(--color-gray-2);

  padding-top: 1px;
  padding-left: 30px;

  & &__text {
    color: var(--color-gray-4);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    &:after {
      --check-size: 16px;

      top: -1px;
      left: 4px;
    }

    @media (--desktop) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  & &__link,
  & &__link ~ &__text {
    font-size: 12px;
    line-height: 16px;

    @media (--desktop) {
      font-size: 14px;
    }
  }

  & &__input {
    top: 30px;
    left: 13px;
  }

  &__link a {
    color: var(--color-brown-light);
  }
}
